<div style="height: 87.1vh;width: 100%;background: linear-gradient(#4170fb 5%, #04375c 60%);" class="d-flex justify-content-center align-items-center ">
   
    <div style="width: 600px; height: auto;" class=" shadow border m-5 bg-light  d-flex align-items-center justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="https://i.pinimg.com/originals/6b/1b/22/6b1b22573f9f3d4bba11a9fa5cb45652.png" alt="img"></div>
        <div class="p-5 col-lg-6">
            <h3 class="bold">Login</h3>
            <form #login="ngForm" (ngSubmit)="Login()" >
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="email"  name="email" [(ngModel)]="email" email required #useremailinput="ngModel">
                </div>
                <!-- invalid email -->
                <div *ngIf="useremailinput.invalid && useremailinput.touched " class="mb-3 text-danger fw-bolder">
                    Invalid Email
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password" required pattern="[a-zA-Z0-9]*" minlength="3" #userpassword="ngModel" >
                </div>
                <!-- invalid password -->
                <div *ngIf="userpassword.invalid && userpassword.touched " class="mb-3 text-danger fw-bolder">
                    Invalid password
                </div>
                
                <div class="mb-3">
                   <button [disabled]="login.invalid" type="submit" class="btn btn-primary">Login</button>
                </div>
        
            </form>
        
        </div>
    </div>
    
</div>
